@model IEnumerable<StaffingPlanner.Models.OPPORTUNITY_GROUP>


@{
	ViewBag.Title = "Report";
}

<h2>Report</h2>


<div class="table-responsive">
	<table class="tablesmall table-condensed table table-bordered small">
        <tr id="tableHeaders">
            <th>Details</th>
            <th>Account</th>
            <th>SubBusiness</th>
            <th>Project Name</th>
            <th>Sponsor</th>
            <th>Project Value</th>
            <th>Skillset</th>
            <th>Project Type</th>
            <th>Project Status</th>
            <th>RateCard/Hr</th>
            <th>Practice</th>
            <th>Max Target Grade</th>
            <th>Target Consultant</th>
            <th>Work Location</th>
            <td>Start Date</td>
            <td>Duration</td>
            <td>Priority</td>
        </tr>
		@{ int counter = 1;
			foreach (var item in Model)
			{

        <tr id="tableRows">
            <td>
                <button type='button' class='btn btn-light' data-toggle='modal' data-target="#@item.GROUP_ID">
                    <i class="fas fa-user-plus fa-xs"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="@item.GROUP_ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title text-center text-uppercase text-danger" id="exampleModalLabel">@item.OPPORTUNITY_CATALOG.OPPORTUNITY_NAME</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-info small">
                                <table class="table table-bordered table-hover">
                                    <tr class="text-center">
                                        <td>Comment</td>
                                        <td>@item.OPPORTUNITY_CATALOG.OPPORTUNITY_COMMENT</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div> <!--Modal-->
            </td>


            <td>@item.OPPORTUNITY_CATALOG.CLIENT_DETAILS.CLIENT_NAME</td>
            <td>@item.OPPORTUNITY_CATALOG.CLIENT_DETAILS.CLIENT_SUB_BUSINESS</td>
            <td>@item.OPPORTUNITY_CATALOG.OPPORTUNITY_NAME</td>
            <td>@item.OPPORTUNITY_CATALOG.SPONSOR</td>
            <td>$@item.OPPORTUNITY_CATALOG.OPPORTUNITY_VALUE</td>
            <td>@item.SKILLSET</td>
            <td>@item.OPPORTUNITY_CATALOG.OPPORTUNITY_TYPE</td>
            <td>@item.OPPORTUNITY_CATALOG.OPPORTUNITY_STATUS1.OPPORTUNITY_STATUS_NAME</td>
            <td>$@item.RATE_CARD_PER_HR</td>
            <td>ACT</td>
            <td>@item.MAX_TARGET_GRADE</td>
            <!--Empty field <td>@item.TARGETED_CONSULTANTS</td>-->
            <td>John</td>
            <td>@item.OPPORTUNITY_CATALOG.LOCATION</td>
            <td>@item.EXPECTED_START_DATE</td>
            <td>@item.DURATION</td>
            <td>@item.OPPORTUNITY_CATALOG.OPPORTUNITY_PRIORITY</td>
        </tr>

				counter = counter + 1;

			}
		}

	</table>

</div> <!-- Table Responsive -->
