@model IEnumerable<StaffingPlanner.Models.OPPORTUNITY_GROUP>
<style>
    .my-input-class {
        padding: 3px 6px;
        border: 1px solid #ccc;
        border-radius: 4px;
        
    }

    .my-confirm-class {
        padding: 3px 6px;
        font-size: 12px;
        color: white;
        text-align: center;
        vertical-align: middle;
        border-radius: 4px;
        background-color: #337ab7;
        text-decoration: none;
    }

    .my-cancel-class {
        padding: 3px 6px;
        font-size: 12px;
        color: white;
        text-align: center;
        vertical-align: middle;
        border-radius: 4px;
        background-color: #a94442;
        text-decoration: none;
    }

    .error {
        border: solid 1px;
        border-color: #a94442 !important;
    }
</style>


<div class="">
    <h2>Report</h2>

        @using (Html.BeginForm("ExportToExcel", "Reports", FormMethod.Post))
        {
            <button type="submit" class="btn btn-info navbar-btn btn-sm">
                <i class="fa fa-download"></i>
                <span> Export to Excel</span>
            </button>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-search"></i> Column Visibility
            </button>
        }

    
    <table id="example" class=" table nowrap table-hover  table-condensed table-bordered small">
        <thead>
            <tr class=" small">
                <th class="text-center">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.CLIENT_DETAILS.CLIENT_NAME)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.CLIENT_DETAILS.CLIENT_SUB_BUSINESS)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_NAME)</th>

                <th class="text-center">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.SPONSOR)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_VALUE)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.SKILLSET)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_TYPE)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_STATUS)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.RATE_CARD_PER_HR)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_PRACTICE)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.MAX_TARGET_GRADE)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.TARGETED_CONSULTANTS)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.LOCATION)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.ACTUAL_START_DATE)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.DURATION)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_PRIORITY)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.GROUP_POSITIONS_AVAILABLE)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.LAST_EDITED_BY)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.LAST_EDITED_DATE)</th>
            </tr>
        </thead>

        <tfoot>
            <tr class="small">
                <th>Details</th>
                <th>@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.CLIENT_DETAILS.CLIENT_NAME)</th>
                <th>@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.CLIENT_DETAILS.CLIENT_SUB_BUSINESS)</th>
                <th>@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_NAME)</th>

                <th>@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.SPONSOR)</th>
                <th>@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_VALUE)</th>
                <th>@Html.DisplayNameFor(model => model.SKILLSET)</th>
                <th>@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_TYPE)</th>
                <th>@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_STATUS)</th>
                <th>@Html.DisplayNameFor(model => model.RATE_CARD_PER_HR)</th>
                <th>@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_PRACTICE)</th>
                <th>@Html.DisplayNameFor(model => model.MAX_TARGET_GRADE)</th>
                <th>@Html.DisplayNameFor(model => model.TARGETED_CONSULTANTS)</th>
                <th>@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.LOCATION)</th>
                <th>@Html.DisplayNameFor(model => model.ACTUAL_START_DATE)</th>
                <th>@Html.DisplayNameFor(model => model.DURATION)</th>
                <th>@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_PRIORITY)</th>
                <th>@Html.DisplayNameFor(model => model.GROUP_POSITIONS_AVAILABLE)</th>
                <th>@Html.DisplayNameFor(model => model.LAST_EDITED_BY)</th>
            </tr>
        </tfoot>
    </table>




    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-center" id="myModalLabel">Column Visibility</h2>
                    <p class="text-muted text-center"> Click to hide columns</p>
                </div>
                <div class="modal-body">

                    <a class="toggle-vis" data-column="0" id="columntoggle">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.CLIENT_DETAILS.CLIENT_NAME)</a>
                    <a class="toggle-vis" data-column="1" id="columntoggle">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.CLIENT_DETAILS.CLIENT_SUB_BUSINESS)</a>
                    <a class="toggle-vis" data-column="2" id="columntoggle">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_NAME)</a>
                    <a class="toggle-vis" data-column="3" id="columntoggle">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.SPONSOR)</a>
                    <a class="toggle-vis" data-column="4" id="columntoggle">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_VALUE)</a>
                    <a class="toggle-vis" data-column="5" id="columntoggle">@Html.DisplayNameFor(model => model.SKILLSET)</a>
                    <br /><br />
                    <a class="toggle-vis" data-column="6" id="columntoggle">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_TYPE)</a>
                    <a class="toggle-vis" data-column="7" id="columntoggle">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_STATUS)</a>
                    <a class="toggle-vis" data-column="8" id="columntoggle">@Html.DisplayNameFor(model => model.RATE_CARD_PER_HR)</a>
                    <a class="toggle-vis" data-column="9" id="columntoggle">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_PRACTICE)</a>
                    <a class="toggle-vis" data-column="10" id="columntoggle">@Html.DisplayNameFor(model => model.MAX_TARGET_GRADE)</a>
                    <br /><br />
                    <a class="toggle-vis" data-column="11" id="columntoggle">@Html.DisplayNameFor(model => model.TARGETED_CONSULTANTS)</a>
                    <a class="toggle-vis" data-column="12" id="columntoggle">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.LOCATION)</a>
                    <a class="toggle-vis" data-column="13" id="columntoggle">@Html.DisplayNameFor(model => model.ACTUAL_START_DATE)</a>
                    <a class="toggle-vis" data-column="14" id="columntoggle">@Html.DisplayNameFor(model => model.DURATION)</a>
                    <a class="toggle-vis" data-column="15" id="columntoggle">@Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.OPPORTUNITY_PRIORITY)</a>
                    <a class="toggle-vis" data-column="16" id="columntoggle">@Html.DisplayNameFor(model => model.GROUP_POSITIONS_AVAILABLE)</a>
                    <br /><br />
                    <a class="toggle-vis" data-column="17" id="columntoggle">@Html.DisplayNameFor(model => model.LAST_EDITED_BY)</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




</div>