@model IEnumerable<StaffingPlanner.Models.OPPORTUNITY_GROUP>

@{
    ViewBag.Title = "Opportunity List";
}

<h2>Opportunity List</h2>


<a href="/opportunitygroups/create">
    <button type="button" class="btn btn-info navbar-btn">
        <i class="fas fa-plus-square"></i>
        <span> Create new</span>
    </button>
</a>
<table class="table-condensed table-hover table-bordered small">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SKILLSET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPPORTUNITY_GROUP_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GROUP_POSITIONS_AVAILABLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAX_TARGET_GRADE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TARGET_NEW_HIRE_GRADE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SITE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DURATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TARGETED_CONSULTANTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CANDIDATE_CONFIRMED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RATE_CARD_PER_HR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXPECTED_START_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTUAL_START_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTUAL_END_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_EDITED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_EDITED_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPPORTUNITY_CATALOG.LOCATION)
        </th>
        <th>Edit</th>
        <th>Info</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.OPPORTUNITY_GROUP_STATUS == true)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SKILLSET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPPORTUNITY_GROUP_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GROUP_POSITIONS_AVAILABLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAX_TARGET_GRADE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TARGET_NEW_HIRE_GRADE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SITE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DURATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TARGETED_CONSULTANTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANDIDATE_CONFIRMED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RATE_CARD_PER_HR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXPECTED_START_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTUAL_START_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTUAL_END_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_EDITED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_EDITED_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPPORTUNITY_CATALOG.LOCATION)
        </td>
        <td>
            <a href="/opportunitygroups/edit/@item.OPPORTUNITY_ID">
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-edit fa-xs"></i>
                </button>
            </a>
        </td>
        <td>
            <a href="/opportunitygroups/details/@item.OPPORTUNITY_ID">
                <button type="button" class="btn btn-success">
                    <i class="fas fa-plus fa-xs"></i>
                </button>
            </a>
        </td>
        <td>
            <a href="/opportunitygroups/makeinactive/@item.OPPORTUNITY_ID">
                <button type="button" class="btn btn-danger">
                    <i class="fas fa-trash fa-xs"></i>
                </button>
            </a>
        </td>
    </tr>
        }
    }

</table>
