<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Staffing Planner</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    </head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
 

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/clients">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        Accounts
                    </a>
                </li>
                <li>
                    <a href="/projects">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        Projects
                    </a>
                </li>
                <li>
                    <a href="/opportunitygroups">
                        <i class="glyphicon glyphicon-link"></i>
                        Opportunities
                    </a>
                </li>
                <li>
                    <a href="/reports">
                        <i class="glyphicon glyphicon-paperclip"></i>
                        Reports
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart"></i>
                        Statistics
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-send"></i>
                        Contact
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <a id="logo" href="/" class=" navbar-brand navbar-left"><img src="~/Images/logo.png" /></a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                       
                            @{
                                if (Session["UserID"] != null)
                                {

                                    <li data-toggle='modal' data-target="#loggedin-modal">
                                        <a href="#"><i class="fa fa-user "> @Session["FirstName"].ToString()</i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    <li><a href="/home/Logout"><i class="fa fa-sign-out"></i></a></li>
                                }
                                else
                                {
                                    <li><a href="#"><i class="fa fa-user "></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    <li data-toggle='modal' data-target="#login-modal">
                                        <a href="#"><i class="fa fa-sign-in"></i></a>
                                    </li>
                                }
                            }

                                </ul>
                    </div>
                </div>
            </nav>


            @RenderBody()

        </div>
    </div>

    <!-- LOGIN MODAL -->
    <div class="modal fade " id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
            <br />
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#signin" data-toggle="tab">Signin</a></li>
                    <li class=""><a href="#register" data-toggle="tab">Register</a></li>
                </ul>
                <br />
            
                <div class="modal-body">
                    <!-- Login Tab-->
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="signin">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label for="email" class="control-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" title="Please enter your email" placeholder="example@gmail.com" />
                                </div>
                                <div class="form-group">
                                    <label for="user_password" class="control-label">Password:</label>
                                    <input type="password" class="form-control" id="user_password" name="user_password" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" value="Index">Login</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            }
                        </div>

                        <!-- Register Tab-->
                        <div class="tab-pane fade" id="register">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()



                                <div class="form-group">
                                    <label for="email" class="control-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" title="Please enter your email" placeholder="example@gmail.com" />
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" value="Create">Register</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="form-group">
                                    <label for="user_password" class="control-label">Password:</label>
                                    <input type="password" class="form-control" id="user_password" name="user_password" />
                                </div>
                                <div class="form-group">
                                    <label for="user_password" class="control-label">Confirm Password:</label>
                                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" />
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-asterisk" style="color: red"></i> = required
                                </div>

                            }
                        </div>
                    </div>
                </div> <!-- Modal Body-->
            </div> <!--Modal Content-->
        </div><!--Modal Dialog-->
    </div> <!--Modal-->



    <!-- User MODAL -->
    <div class="modal fade " id="loggedin-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="exampleModalLabel">Hello @{ if (Session["UserID"] != null) { Session["FirstName"].ToString(); } }</h3>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div> <!--Modal-->

    <div class="container body-content">
        <div class="line"></div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Sogeti</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
