@model StaffingPlanner.Models.OPPORTUNITY_CATALOG

@{
    ViewBag.Title = "Create Project";
}
<div class="container">
    <h2>Create A New Project</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Project Information</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CLIENT_ID, "Client", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.DropDownList("CLIENT_ID", null, "--- Select a Client ---", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CLIENT_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OPPORTUNITY_STATUS_ID, "Project Status", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.DropDownList("OPPORTUNITY_STATUS_ID", null, "--- Select a Status ---", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OPPORTUNITY_STATUS_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LOCATION, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.LOCATION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LOCATION, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SPONSOR, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.SPONSOR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SPONSOR, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OPPORTUNITY_NAME, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.OPPORTUNITY_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OPPORTUNITY_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OPPORTUNITY_PRACTICE, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.OPPORTUNITY_PRACTICE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OPPORTUNITY_PRACTICE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OPPORTUNITY_VALUE, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.OPPORTUNITY_VALUE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OPPORTUNITY_VALUE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OPPORTUNITY_COMMENT, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.OPPORTUNITY_COMMENT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OPPORTUNITY_COMMENT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OPPORTUNITY_PRIORITY, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.OPPORTUNITY_PRIORITY, new List<SelectListItem>
                        {
                        new SelectListItem{Text="Low", Value="Low" },
                        new SelectListItem{Text="Medium", Value="Medium" },
                        new SelectListItem{Text="High", Value="High" }
                        }, "--- Select a Priority ---", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OPPORTUNITY_PRIORITY, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OPPORTUNITY_TYPE, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.OPPORTUNITY_TYPE, new List<SelectListItem>
                        {
                        new SelectListItem{Text="T&M", Value="T&M" },
                        new SelectListItem{Text="Fixed Capacity", Value="Fixed Capacity" },
                        }, "--- Select Opportunity Type ---", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OPPORTUNITY_TYPE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NUMBER_OF_REQUIRED_ROLES, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.NUMBER_OF_REQUIRED_ROLES, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NUMBER_OF_REQUIRED_ROLES, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LAST_EDITED_BY, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.LAST_EDITED_BY, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LAST_EDITED_BY, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <input type="submit" value="Create" class="btn btn-primary" />

                    <a class="btn btn-default" href="/projects" role="button">Cancel</a>
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
