@model StaffingPlanner.Models.OPPORTUNITY_CATALOG

@{
    ViewBag.Title = "Create Project";
}
<div class="container">
    <h2>Create A New Project</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Project Information</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CLIENT_ID, "Account", htmlAttributes: new { @class = "control-label col-md-4" })
            <i class="fa fa-asterisk" style="color: red"></i>
            <div class="col-md-2">
                @Html.DropDownList("CLIENT_ID", null, "--- Select an Account ---", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CLIENT_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OPPORTUNITY_NAME, htmlAttributes: new { @class = "control-label col-md-4" })
            <i class="fa fa-asterisk" style="color: red"></i>
            <div class="col-md-2">
                @Html.EditorFor(model => model.OPPORTUNITY_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OPPORTUNITY_NAME, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.OPPORTUNITY_STATUS_ID, "Project Status", htmlAttributes: new { @class = "control-label col-md-4" })
            <i class="fa fa-asterisk" style="color: red"></i>
            <div class="col-md-2">
                @Html.DropDownList("OPPORTUNITY_STATUS_ID", null, "--- Select a Status ---", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OPPORTUNITY_STATUS_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SPONSOR, htmlAttributes: new { @class = "control-label col-md-4" })
            <i class="fa fa-asterisk" style="color: red"></i>
            <div class="col-md-2">
                @Html.EditorFor(model => model.SPONSOR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SPONSOR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LOCATION, htmlAttributes: new { @class = "control-label col-md-4" })
            <i class="fa fa-asterisk" style="color: red"></i>
			<div class="col-md-2">
				@*@Html.EditorFor(model => model.LOCATION, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.DropDownListFor(model => model.LOCATION, new List<SelectListItem>
				{
					new SelectListItem{Text="Onshore", Value="Onshore" },
					new SelectListItem{Text="Offshore", Value="Offshore" },
					new SelectListItem{Text="On-site", Value="On-site" },
					new SelectListItem{Text="Other", Value="Other" }
				}, "--- Select a Location ---", htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.LOCATION, "", new { @class = "text-danger" })
			</div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.OPPORTUNITY_PRACTICE, htmlAttributes: new { @class = "control-label col-md-4" })
            <i class="fa fa-asterisk" style="color: red"></i>
            <div class="col-md-2">
                @Html.EditorFor(model => model.OPPORTUNITY_PRACTICE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OPPORTUNITY_PRACTICE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OPPORTUNITY_COMMENT, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.OPPORTUNITY_COMMENT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OPPORTUNITY_COMMENT, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div id="space" class="col-md-offset-4 col-md-6">
                <input type="submit" value="Create" class="btn btn-primary" />

                <a class="btn btn-default" href="/projects" role="button">Cancel</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-6">
                <i class="fa fa-asterisk" style="color: red"></i> = required
            </div>
        </div>
    </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
