@model IEnumerable<StaffingPlanner.Models.OPPORTUNITY_CATALOG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LOCATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPONSOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPPORTUNITY_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPPORTUNITY_PRACTICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPPORTUNITY_VALUE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPPORTUNITY_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPPORTUNITY_COMMENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPPORTUNITY_PRIORITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPPORTUNITY_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMBER_OF_REQUIRED_ROLES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_EDITED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_EDITED_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENT_DETAILS.CLIENT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPPORTUNITY_STATUS1.OPPORTUNITY_STATUS_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LOCATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPONSOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPPORTUNITY_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPPORTUNITY_PRACTICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPPORTUNITY_VALUE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPPORTUNITY_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPPORTUNITY_COMMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPPORTUNITY_PRIORITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPPORTUNITY_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMBER_OF_REQUIRED_ROLES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_EDITED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_EDITED_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENT_DETAILS.CLIENT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPPORTUNITY_STATUS1.OPPORTUNITY_STATUS_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OPPORTUNITY_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OPPORTUNITY_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OPPORTUNITY_ID })
        </td>
    </tr>
}

</table>
