@model StaffingPlanner.Models.CLIENT_DETAILS

@{
    ViewBag.Title = "Client Details";
}

<h2>Client Details</h2>

<div>
    <h4>Client Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLIENT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENT_SUB_BUSINESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENT_SUB_BUSINESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENT_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENT_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_EDITED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_EDITED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_EDITED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_EDITED_DATE)
        </dd>

    </dl>
</div>
<div class="form-horizontal">
    <div class="col-md-offset-1 col-md-8">
        @Html.ActionLink("Edit", "Edit", new { id = Model.CLIENT_ID }, new { @class = "btn btn-primary", @role = "button" }) 
        <a class="btn btn-default" href="/clients" role="button">Cancel</a>
    </div>
</div>

