@model IEnumerable<StaffingPlanner.Models.CLIENT_DETAILS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CLIENT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENT_SUB_BUSINESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENT_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_EDITED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_EDITED_DATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENT_SUB_BUSINESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENT_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_EDITED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_EDITED_DATE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CLIENT_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CLIENT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CLIENT_ID })
        </td>
    </tr>
}

</table>
