@model IEnumerable<StaffingPlanner.Models.CLIENT_DETAILS>

@{
    ViewBag.Title = "Client List";
}

<h2>Client List</h2>




<a href="/clients/create">
    <button type="button" class="btn btn-info navbar-btn">
        <i class="fas fa-plus-square"></i>
        <span> Create new</span>
    </button>
</a>


    <table class="table table-condensed table-hover table-bordered small">
        <tr>
            <th>
                Client
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENT_SUB_BUSINESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAST_EDITED_BY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAST_EDITED_DATE)
            </th>
            <th>Edit</th>
            <th>Info</th>
            <th>Delete</th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.CLIENT_STATUS == true)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CLIENT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLIENT_SUB_BUSINESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAST_EDITED_BY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAST_EDITED_DATE)
            </td>
            <td>
                <a href="/clients/edit/@item.CLIENT_ID">
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-edit fa-xs"></i>
                    </button>
                </a>
            </td>
            <td>
                <a href="/clients/details/@item.CLIENT_ID">
                    <button type="button" class="btn btn-success">
                        <i class="fa fa-plus fa-xs"></i>
                    </button>
                </a>
            </td>
            <td>
                <a href="/clients/makeinactive/@item.CLIENT_ID">
                    <button type="button" class="btn btn-danger">
                        <i class="fa fa-trash fa-xs"></i>
                    </button>
                </a>
            </td>
        </tr>
            }
        }

    </table>
